@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background: url('../images/movieback.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #121212;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border: 2px solid #878f91;
  border-radius: 5px;
}

p {
  font-size: large;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgba(18, 18, 18, 0.9);
  border-radius: 10px;
}

.grid-container > div {
  background-color: rgba(34, 34, 34, 0.9);
  padding: 20px;
  border-radius: 5px;
}

.grid-container .item1,
.grid-container .item2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container .item3,
.grid-container .item4,
.grid-container .item5 {
  text-align: left;
  justify-content: justify;
}

.grid-container .item3 {
  text-align: justify; 
}

.video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  border: 2px solid #878f91;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin: 20px auto;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00BFFF;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #FF4500;
}