<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WALL·E</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <h1>WALL·E</h1>
    <div class="grid-container">
        <div class="item1">
            <img src="{{ url_for('static', filename='images/top4.PNG') }}" alt="Movie 4 Poster">
        </div>
        <div class="item2">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/4.4.0/dash.all.min.js"></script>
            <video class="video" data-dashjs-player autoplay controls>
                <source src="{{ url_for('static', filename='media/movie4/dash/dash.mpd') }}" type="application/dash+xml">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="item3">
            <p>In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.</p>
        </div>
        <div class="item4">
            <p>Director: Andrew Stanton</p>
            <p>Year: 2008</p>
            <p>Genre: Adventure</p>
            <p>Duration: 1h 38m</p>
            <p>Type: DASH</p>
        </div>
        <div class="item5">
            <p>Rate: 8.4/10</p>
        </div>
    </div>
</body>
</html>
